* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    padding: 20px;
    text-align: center;
    background-color: lightblue;
}
#sidebar {
    width: 25%;
    float: left;
    background-color: lightcoral;
}
#main {
    width: 75%;
    float: right;
    background-color: lightpink;
}
#footer {
    padding: 20px;
    text-align: center;
    clear: both;
    background-color: lightgoldenrodyellow;
}